{{ define "main" }}

<style>
  section#nav-wrapper {
    position: sticky;
    top: 0;
    left: 0;
  }
</style>

<main id="layout_page" style="margin: auto;">
  <!-- Ranges through content/posts/*.md -->

  <div id="blog" class="page">
    <h2>{{ .Title }}</h2>

    <div class="blog-wrapper">
      <div class="content">
        {{ range .Pages }}

        <div>
          <h3 class="blog-title">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </h3>
          <p style="opacity: 0.5;">
            {{ .Summary | truncate 200 }}
          </p>
          <small>
            {{ .Date.Format "06 Jan, 2006" }}
          </small>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</main>
{{ end }}
