{{ define "main" }}

<div id="layout-wrapper">
  <h1 class="title">{{ .Title }}</h1>
  <!-- -->
  {{ if and (gt .WordCount 100 ) (.Params.tableofcontents) }}
  <aside id="aside-table-of-content">
    <strong><small>IN THIS PAGE</small></strong>
    {{ .TableOfContents }}

    <script>
      "use strict";

      function highlight_toc() {
        const url_hash = new URL(window.location.href).hash;
        const current_target = document.querySelector(`a[href="${url_hash}"]`);
        const all_targets = [
          ...document.querySelectorAll("#TableOfContents a")
        ];

        all_targets.forEach(ele => ele.classList.remove("active"));
        current_target && current_target.classList.add("active");
      }

      (() => {
        const toc_menu = document.querySelector("#aside-table-of-content");
        highlight_toc();
        window.addEventListener("hashchange", highlight_toc);
      })();

      (() => {
        const elem = document.querySelector("#mobile-only-toc-handler");
        const toc_menu = document.querySelector("#aside-table-of-content");
        if (elem && toc_menu) {
          elem.addEventListener("click", () => {
            toc_menu.classList.add("active");
          });
        }

        if (toc_menu) {
          toc_menu.addEventListener("click", e => {
            e.stopPropagation();
            toc_menu.classList.remove("active");
          });
        }
      })();
    </script>
  </aside>
  {{ end }}
  <main id="layout_page">
    {{ if (isset .Params "date") }}

    <time>
      {{ .Date.Format "2 January, 2006" }} &nbsp;&middot;&nbsp;
      <!-- -->
      {{ .ReadingTime }} min
    </time>

    {{ else }}

    <div style="margin-bottom: 2rem;"></div>

    {{ end }}
    <!--c-->
    {{ .Content }}

    <div id="tags">
      {{ range .Params.tags }}
      <small>
        <a
          style="text-decoration: none;color: blue;border: none;"
          href="{{ $.Site.Params.baseURL | absURL }}/tags/{{ . }}"
          >#{{ . }}</a
        >
      </small>
      {{ end }}
    </div>

    {{ if and (gt .WordCount 200 ) (.Params.tableofcontents) }}
    <label id="mobile-only-toc-handler">Table of Content</label>
    {{ end }}
    <!-- -->

    {{ if or .PrevInSection .NextInSection }}

    <div
      style="
                display: grid;
                grid-template-columns: 1fr 1fr;
                text-align: center;
            "
    >
      {{ if .NextInSection }}
      <a href="{{ .NextInSection.Permalink }}">
        {{ .NextInSection.Title }}
      </a>

      {{ end }}

      <!-- -->

      {{ if .PrevInSection }}
      <a href="{{ .PrevInSection.Permalink }}">
        {{ .PrevInSection.Title }}
      </a>
      {{ end }}
    </div>

    {{ end }}
  </main>
</div>

{{ end }}
