{{ define "main" }}

<style>
  section#nav-wrapper {
    position: sticky;
    top: 0;
    left: 0;
  }
</style>
<div
  id="layout-wrapper"
  style="max-width: 50rem;margin: auto;padding: 1rem;"
>
  <!-- -->
  <main id="layout_page">
    <div style="margin-bottom: 5rem;text-align: center;">
      <h1 class="title" style="margin: 0;">{{ .Title }}</h1>
      {{ if (isset .Params "date") }}

      <time>
        {{ .Date.Format "2 January, 2006" }} &nbsp;&middot;&nbsp;
        <!-- -->
        {{ .ReadingTime }} min
      </time>

      {{ else }}

      <div style="margin-bottom: 2rem;"></div>

      {{ end }}
      <!--c-->
    </div>
    {{ .Content }}

    <div id="tags">
      {{ range .Params.tags }}
      <small>
        <a
          style="text-decoration: none;color: blue;border: none;"
          href="{{ $.Site.Params.baseURL | absURL }}/tags/{{ . }}"
          >#{{ . }}</a
        >
      </small>
      {{ end }}
    </div>

    <!-- -->

    {{ if or .PrevInSection .NextInSection }}

    <div
      style="
             display: grid;
             grid-template-columns: 1fr 1fr;
             margin: 4rem 0;
             font-size: 1.3em;
            "
    >
      {{ if .NextInSection }}
      <a href="{{ .NextInSection.Permalink }}">
        {{ .NextInSection.Title }}
      </a>

      {{ end }}

      <!-- -->

      {{ if .PrevInSection }}
      <a href="{{ .PrevInSection.Permalink }}" style="text-align: right;">
        {{ .PrevInSection.Title }}
      </a>
      {{ end }}
    </div>

    {{ end }}
  </main>
</div>

{{ end }}
