*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

  			/* BACKROUND WORK START */


.header-section{
	width: 100%;
	height: auto;
	
	background-image: url("photos/back.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	clip-path: polygon(100% 0%, 100% 100%, 100% 100%, 0% 100%, 0% 0%);
	position: absolute;
}
.header-section:before{
	content:"";
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0;
	right: 0;
	opacity: 0.7;
	z-index: -1;
	background: #478D8F;
}
.header-section{
	width: 100%;
	height: auto;
	color: black;
	text-align: center;
	position: relative;
}



				/* BACKROUND WORK END */



.heading{
	font-size: 60px;
	color: #2AD0DC;

}

.line{
	height:2px;
	width:50%;
	color:gray;
	background: #2BD0DC;
	background: -webkit-linear-gradient(left, #2BD0DC, #CCDFDA);
	background: -moz-linear-gradient(left, #2BD0DC, #CCDFDA);
	background: linear-gradient(to right, #2BD0DC, #CCDFDA);;
	text-align:right;
	margin-left: 25%;
	border-radius: 40px;
	margin-top: -0.5%;
}

.btn{
	border-width: 3px;
	border-radius: 25px;
	margin-top: 4%;
	margin-bottom: 5%;
}

.first-col{
	padding-left: 10%;
	margin-top: 10%;
}
.second-col{
	padding-right: 18%;
	margin-top: 10%;

}

h6{
	font-size: 14px;
}

.mob-img{
	opacity: 0;
}

	/* RESPONSIVE PART START */

@media(max-width: 991px){
	.first-col span{
		font-size: 30px; 

   }
}

@media(max-width: 991px){
	.first-col .line{
		width:90%; 
		margin-left: 4%;   
   }
}

@media(max-width: 991px){
	.first-col {
		background-color: #006064;
		padding-top: 10%;
		padding-bottom: 2%;
   }
}


@media(max-width: 991px){
	.second-col{
     opacity: 0;
     margin-top: -82%;

   }
}

@media(max-width: 991px){
	.center-div{
      background-color: #006064;
      padding-bottom: 8%;

   }
}

@media(max-width: 991px){
	.center-div .btn{ 
      margin-right: -70%;
      
   }
}

@media(max-width: 991px){
	.header-section{
      
      margin-top: -10%;
      margin-bottom: -20%;
      height:46vh;
      
   }
}


@media(max-width: 991px){
	.first-col h3{
		font-size: 15px;
		text-align: left;
		
   }
}

@media(max-width: 991px){
	.first-col h6{
		font-size: 11px;
		font-weight: normal;
		text-align: left;
   }
}

@media(max-width: 991px){
	.first-col .mob-img{
		width: 70px;
		opacity: 1;
		margin-top: -8%;
}

		/* RESPONSIVE PART END */