<div id="footer-wrapper">
  <footer>
    <div class="img">
      <img
        src="https://www.girlscript.tech/Scripts/images/logo/gs_new.png"
        alt=""
      />
      <br />
      GirlScript Guwahati, A Local Chapter of GirlScript Foundation.
    </div>

    <div>
      <h3>Quick Links.</h3>
      <a href="https://girlscript.tech">GirlScript Foundation</a>
    </div>

    <div>
      <h3>Social.</h3>
      <a href="https://girlscript.tech/girlscript-ghy">Github</a>
      <br />
      <a href="#">Twitter</a>
      <br />
      <a href="#">YouTube</a>
      <br />
    </div>

    <div style="grid-column: 1 / span 3;" class="style-a-tags">
      &copy;2020. GirlScript Foundation (Guwahati Chapter). <br />
      Website designed by
      <a href="https://www.vaibhavsoni.tech/">Vaibhav Soni</a>. Map provided by
      <a href="https://www.openstreetmap.org/">OpenStreetMap</a>.
      <br />
      Developed by
      <a href="https://github.com/girlscript-ghy/website/graphs/contributors"
        >GirlScript Guwahati Team</a
      >.
    </div>
  </footer>
</div>
