{{ $pathname := $.Page.Permalink | relURL | lower }}

<section id="nav-wrapper">
  <nav id="top-nav">
    <div class="logo"><img src="/images/logo.svg" alt="" /></div>
    <div class="menu h-nav">
      <div class="nav-items v-class">

      <a  class="item1" href="/">Home</a>
      <a  class="item2" href="/">Events</a>
      <a  class="item3"  href="/">Blogs</a>
      <a  class="item4" href="/">Volunteers</a>
      <a  class="item5" href="/">Contact</a>
    </div>
    <div class="burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>

      <!--  -->

      <!--{{ range (where $.Site.RegularPages "Section" "pages") }}-->
      <!--[>  <]-->
      <!--{{ $pagepath := print "/" .Title "/" | lower }}-->
      <!--[>  <]-->
      <!--[>  <]-->
      <!--{{ if (eq $pathname $pagepath )}}-->
      <!--<a href="{{ .Permalink }}" class="active">{{ .Title }}</a>-->
      <!--{{ else }}-->
      <!--<a href="{{ .Permalink }}">{{ .Title }}</a>-->
      <!--{{ end }}-->
      <!--[>  <]-->
      <!--{{ end }}-->
    </div>
  </nav>
</section>

<script>
  (() => {
    let offset = window.pageYOffset;
    const top_nav = document.querySelector("#nav-wrapper");

    window.addEventListener("scroll", () => {
      // scroll down
      if (offset > window.pageYOffset) {
        console.log("Scroll Up");
        top_nav.classList.remove("hide");
  }
      // scroll up
      else {
        console.log("Scroll Down");
        top_nav.classList.add("hide");
      }

      offset = window.pageYOffset;
    });
  })();
  burger=document.querySelector('.burger')
  menu=document.querySelector('.h-nav')
  navItems=document.querySelector('.v-class')

  burger.addEventListener('click',()=>{
    navItems.classList.toggle('v-class');
    menu.classList.toggle('h-nav');
  })
</script>
