{{ $pathname := $.Page.Permalink | relURL | lower }}

<section id="nav-wrapper">
  <nav id="top-nav">
    <div class="logo-handler-wrapper">
      <div class="logo"><img src="/images/logo.svg" alt="" /></div>
      <div class="handler">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
    <div class="menu hide">
      <a href="/">Home</a>
      <a href="/">Events</a>
      <a href="/">Blogs</a>
      <a href="/team">Volunteers</a>
      <a href="/">Contact</a>
    </div>
  </nav>
</section>

<script>
  (() => {
    let offset = window.pageYOffset;
    const top_nav = document.querySelector("#nav-wrapper");
    const burger = document.querySelector("nav#top-nav .handler");
    const menu = document.querySelector("nav#top-nav .menu");

    window.addEventListener("scroll", () => {
      // scroll down
      if (offset > window.pageYOffset) {
        top_nav.classList.remove("hide");
        menu.classList.add("hide");
      }
      // scroll up
      else {
        top_nav.classList.add("hide");
        menu.classList.add("hide");
      }

      offset = window.pageYOffset;
    });

    burger.addEventListener("click", () => {
      menu.classList.toggle("hide");
    });
  })();
</script>
