/*********************************************** 
 *                                             *
 *      File Name: base.css                    *
 *      Responsible For: Site-wide Styles      *
 *                                             *
 *      Author(s):                             *
 *      1) Abdus <mail@abdus.xyz>              *
 *                                             *
 ***********************************************/

@font-face {
    font-family: Charter;
    src: url("/fonts/Charter Regular.ttf"), url("/fonts/Charter Bold.ttf"),
        url("/fonts/Charter Bold Italic.ttf"), url("/fonts/Charter Italic.ttf");
}

* {
    box-sizing: border-box;
    font-family: inherit;
    color: inherit;
    background-color: inherit;
}

html,
body {
    margin: 0;
    font-family: "Charter", serif;
}
