/*********************************************** 
 *                                             *
 *      File Name: base.css                    *
 *      Responsible For: Site-wide Styles      *
 *                                             *
 *      Author(s):                             *
 *      1) Abdus <mail@abdus.xyz>              *
 *                                             *
 ***********************************************/

:root {
    --max-width: 70rem;
}

* {
    box-sizing: border-box;
    font-family: inherit;
    color: inherit;
    background-color: inherit;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    font-family: "Charter", serif;
}

blockquote {
    padding: 0 1rem;
    margin: 0;
    border-left: 3px solid red;
    font-style: italic;
}
