{{ define "main" }}

<header>
  <div class="content">
    <h1>
      GirlScript <br />
      Guwahati
    </h1>

    <p>
      <strong>We are here to support people in tech.</strong>
      <br />
      Finding like minded people who resonate with your goal is extremely
      important. Find such enthusiastic people through GirlScript's network.
    </p>

    <button style="max-width: 250px;" class="btn">Get Started</button>
  </div>
  <div class="graphics">
    <div id="blue-bg"></div>
    {{ partial "svgloader.html" "pair-prog.svg" }}
  </div>
</header>

<div id="events">
  <h2>Events</h2>
  <div class="card-wrapper">
    <div>
      <h3 class="card-title">Title</h3>
      <span class="subtitle">SubTitle</span>
      <p>
        Adipisicing aspernatur molestiae praesentium minus earum blanditiis
        corporis in Obcaecati amet ratione adipisci quisquam animi? Vero debitis
        magni est aperiam.
      </p>
      <div class="flex-grow-1"></div>
      <button class="btn text-only">Register Here</button>
    </div>

    <div>
      <h3 class="card-title">Title</h3>
      <span class="subtitle">SubTitle</span>
      <p>
        Lorem quae deserunt nostrum doloremque libero! Aliquam beatae laudantium
        qui consequatur voluptate Debitis totam adipisci consequatur voluptates
        expedita dolore. Eum.
      </p>
      <div class="flex-grow-1"></div>
      <button class="btn text-only">Register Here</button>
    </div>

    <div>
      <h3 class="card-title">Title</h3>
      <span class="subtitle">SubTitle</span>
      <p>
        Elit iste amet blanditiis assumenda vitae. Quaerat id quidem esse
        doloremque porro Iusto perferendis nisi recusandae perferendis amet
        Repudiandae fugit
      </p>
      <div class="flex-grow-1"></div>
      <button class="btn text-only">Register Here</button>
    </div>
  </div>
</div>

<div id="blog">
  <h2>Blog</h2>

  <div class="blog-wrapper">
    <div class="content">
      {{ range (where .Site.RegularPages "Section" "blogs") }}

      <div>
        <h3 class="blog-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        <small>
          {{ .Date.Format "06 Jan, 2006" }}
        </small>
        <p>
          {{ .Summary | truncate 300 }}
        </p>
      </div>
      {{ end }}

      <div class="read-more-blog">
        <a href="/blogs">Read More on Blog Page</a>
      </div>
    </div>

    <div class="graphics">
      {{ partial "svgloader.html" "human-sitting-chair.svg" }}
    </div>
  </div>
</div>

<div id="team">
  <h2>Team</h2>

  <div class="team-wrapper">
    <div>
      <h3 class="person-name">Daenerys Targaryen</h3>
      <small>
        <div class="big-dot"></div>
        <span>THE Queen</span>
      </small>

      <div class="img">
        <img src="/images/man.svg" alt="" />
      </div>
    </div>

    <div>
      <h3 class="person-name">Jon Snow</h3>
      <small>
        <div class="big-dot"></div>
        <span>Lord Commander</span>
      </small>

      <div class="img">
        <img src="/images/man.svg" alt="" />
      </div>
    </div>

    <div>
      <h3 class="person-name">Tormund Giantsbane</h3>
      <small>
        <div class="big-dot"></div>
        <span>FreeFolk</span>
      </small>

      <div class="img">
        <img src="/images/man.svg" alt="" />
      </div>
    </div>

    <div>
      <h3 class="person-name">Brandon Stark</h3>
      <small>
        <div class="big-dot"></div>
        <span>Three-Eyed Raven</span>
      </small>

      <div class="img">
        <img src="/images/man.svg" alt="" />
      </div>
    </div>
  </div>

  <a href="/team" class="read-more">checkout the full team</a>
</div>

<div id="map">
  <h2>Map of the City</h2>
  <div class="map-wrapper">
    <iframe
      style="width: 100%;min-height: 700px"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
      src="https://www.openstreetmap.org/export/embed.html?bbox=91.73420906066896%2C26.172886620615593%2C91.77004337310792%2C26.190756263401795&amp;layer=mapnik"
    ></iframe>
  </div>
</div>
{{ end }}
