{{ define "main" }}

<header>
  <div class="content">
    <h1>
      GirlScript <br />
      Guwahati
    </h1>

    <p>
      <strong>We are here to support people in tech.</strong>
      <br />
      Finding like minded people who resonate with your goal is extremely
      important. Find such enthusiastic people through GirlScript's network.
    </p>

    <button style="max-width: 250px;" class="btn">Get Started</button>
  </div>
  <div class="graphics">
    <div id="blue-bg"></div>
    {{ partial "svgloader.html" "pair-prog.svg" }}
  </div>
</header>

<div id="events">
  <h2>Events</h2>
  <div class="card-wrapper">
    {{ range first 3 (where .Site.RegularPages "Section" "events") }}
    <div>
      <h3 class="card-title">{{ .Title }}</h3>
      <span class="subtitle">{{ .Date.Format "2 Jan, 2006 03:04PM" }}</span>
      <small class="status">
        {{ if (time .Params.event_date).Before now }}
        <span class="ended">ended</span>
        {{ else }}
        <span class="upcoming">upcoming</span>
        {{ end }}
      </small>

      <p>
        {{ .Content | plainify | truncate 150}}
      </p>
      <div class="flex-grow-1"></div>
      {{ if (time .Params.event_date).After now }}
      <a href="{{ .Permalink }}" class="btn text-only">Register Here</a>
      {{ end }}
    </div>
    {{ end }}
  </div>
</div>

<div id="blog">
  <h2>Blog</h2>

  <div class="blog-wrapper">
    <div class="content">
      {{ range first 3 (where .Site.RegularPages "Section" "blogs") }}

      <div>
        <h3 class="blog-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        <small>
          {{ .Date.Format "06 Jan, 2006" }}
        </small>
        <p>
          {{ .Summary | truncate 300 }}
        </p>
      </div>
      {{ end }}

      <div class="read-more-blog">
        <a href="/blogs">Read More on Blog Page</a>
      </div>
    </div>

    <div class="graphics">
      {{ partial "svgloader.html" "human-sitting-chair.svg" }}
    </div>
  </div>
</div>

<div id="team">
  <h2>Team</h2>

  <div class="team-wrapper">
    {{ range first 4 $.Site.Data.team }}
    <div>
      <h3 class="person-name">{{ .name }}</h3>
      <small>
        <div class="big-dot"></div>
        <span>{{ .title }}</span>
      </small>

      <div class="img">
        {{ if eq .avatar nil }}
        <img
          src="https://www.gravatar.com/avatar/{{ md5 .email }}?d=https%3A%2F%2Fi.imgur.com%2FuAkBMTK.png&s=200"
          alt=""
        />
        {{ else }}
        <img src="{{ .avatar }}" alt="" />
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>

  <a href="/team" class="read-more">checkout the full team</a>
</div>

<div id="map">
  <h2>Map of the City</h2>
  <div class="map-wrapper">
    <iframe
      style="width: 100%;min-height: 700px"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
      src="https://www.openstreetmap.org/export/embed.html?bbox=91.73420906066896%2C26.172886620615593%2C91.77004337310792%2C26.190756263401795&amp;layer=mapnik"
    ></iframe>
  </div>
</div>
{{ end }}
